<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>: Wrong http Method</h1>
    <p>You must use the POST method to invoke the <%= title %> web service</p>
  </body>
</html>
